<%- include('../includes/header.ejs') %>

<link href="/css/login.css" rel="stylesheet">
<link href="/css/loading.css" rel="stylesheet">
</head>

<body>
  <%- include('loading.ejs') %>
  <%- include('../includes/scriptLoading.ejs') %>
  <div class="blurred-box">

    <div class="user-login-box">
      <form class="form-login">
        <div><img src="/img/78-785975_icon-profile-bio-avatar-person-symbol-chat-icon.png"
            style="width: 50px;height: 50px;border-radius: 50%;"></span>
          <div class="hello">Xin chào!</div>
          <input class="user-password" type="text" id="email" placeholder="Email" />
          <input class="user-password" type="password" id="password" placeholder="Password" />
          <br>
          <span><button class="btn btn-secondary" type="submit">Login</button></span>
      </form>
    </div>
  </div>

  <%- include('../includes/script.ejs') %>
  <%- include('../includes/footer.ejs') %>