<%- include('../includes/header.ejs') %>

  <link href="/css/projectpage.css" rel="stylesheet">
  <link href="/css/loading.css" rel="stylesheet">
  </head>

  <body>
    <%- include('loading.ejs') %>
    <%- include('../includes/scriptLoading.ejs') %>
    <%- include('../includes/navbarandslidebar.ejs') %>
      <div class="body-project" id="body-project">
        <div class="nav-project">
          <div class="nav-project1">
            <a class="nameduan" id="pro-name" href="<%= thisProject.projectName %>">
              <%= thisProject?thisProject.projectName:'loi' %>
            </a>
            <button type="button" class="btn btn-light"><i style='font-size:16px' class='far'>&#xf005;</i></button>
            <button type="button" class="btn btn-light">Cá nhân</button>
          </div>

          <div class="nav-project2">
            <button type="button" class="btn btn-light">Riêng tư</button>
            <button type="button" class="btn btn-light">Lịch</button>
          </div>
          <div class="nav-project3">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">Thêm thành
              viên</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <form class="add-member">
                    <div class="modal-body">
                      <label for="#username">Email:</label>
                      <input class="form-control" id="username" name="username" type="text"
                        placeholder="Enter email to invite!">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add user</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="body-table">
          <div class="todo-list-table">
            <h1>TO DO LIST</h1>
            <div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                Add Task To Project
              </button>
            </div>

            <!-- Button trigger modal -->


            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="modalbody">
                    <form class="add-task">
                      <div>
                        <label>Name of task</label>
                        <input type="text" class="form-control1" name='taskName' placeholder="Task Name Project">
                        <select id="priority" class="select">
                          <option value="Critical"></option>
                          <option value="High"></option>
                          <option selected value="Normal"></option>
                          <option value="Low"></option>
                        </select>
                      </div>
                      <br>
                      <div class="endDate">
                        <label>Due date</label><br>
                        <input type="date" name='dueDate' id="dt" onchange="mydate1();" hidden />
                        <input type="text" id="ndt" onclick="mydate();" hidden required />
                        <input type="button" Value="End Date" onclick="mydate();" />
                      </div>
                      <br>
                      <div>
                        <label>Asigned Member</label><br>
                        <select id="assignedMember" class="form-control">
                          <option value="0"> Choose a member to assign task</option>
                          <% thisProject.members.forEach((member)=>{ %>
                            <option value="<%= member.id %>">
                              <%= member.email %>
                            </option>
                            <% }) %>
                        </select>
                      </div>
                      <!-- <button type="button"  onclick="addTask()">Them</button> -->

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Task</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="new">
              <h4>New</h4>
              <div class="todo-container">
                <div class="dropdown-divider"></div>
                <ul class="todo-list">
                  <!--   //ai minh di chuyen: todo -->

                </ul>
              </div>
            </div>

            <div class="Inprocess" ondrop="drop(event)" ondragover="allowDrop(event)">
              <h4>In-process</h4>
              <div class="dropdown-divider">
              </div><br><br><br>
            </div>
            <div class="CheckandHandle" ondrop="drop(event)" ondragover="allowDrop(event)">
              <h4>Check and Handle</h4>
              <div class="dropdown-divider"></div><br><br><br>
            </div>
            </ul>
            <!-- Button đăng nhập để mở form đăng nhập -->
            <!--  <button id="myBtn">Đăng Nhập</button> -->

            <!-- The Modal -->

          </div>
          <div class="Finish">
            <h4>Finsh</h4>
            <!--   <form>
          <input type="text" class="todo-input3">
          <button class="todo-button-finish" type="submit">
            <i class="fas fa-plus-square"></i>
            </button>
        </form> -->
            <div class="todo-container3">
              <div class="dropdown-divider"></div><br><br>
              <div class="todo-list3">
                <div ondrop="drop(event)" ondragover="allowDrop(event)"><br></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <script>
        function mydate() {
          //alert("");
          document.getElementById("dt").hidden = false;
          document.getElementById("ndt").hidden = true;
        }
        function mydate1() {
          d = new Date(document.getElementById("dt").value);
          dt = d.getDate();
          mn = d.getMonth();
          mn++;
          yy = d.getFullYear();
          document.getElementById("ndt").value = dt + "/" + mn + "/" + yy
          document.getElementById("ndt").hidden = false;
          document.getElementById("dt").hidden = true;
        }
      </script>







      <script>
        function addTask() {
          const input = document.createElement("input");
          input.classList.add("task");;
          const type = document.createAttribute("type");
          type.value = "text";
          input.setAttributeNode(type);
          var div = document.getElementById("modalbody");
          div.appendChild(input);
        }
      </script>



      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("container").style.marginLeft = "270px"
          document.getElementById("body-project").style.marginLeft = "270px"
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("container").style.marginLeft = "200px";
          document.getElementById("body-project").style.marginLeft = "50px";
        }
      </script>
      <%- include('../includes/script.ejs') %>
        <%- include('../includes/scriptprojectpage.ejs') %>
          <%- include('../includes/scriptcheckpsw.ejs') %>
            <%- include('../includes/footer.ejs') %>