<%- include('../includes/header.ejs') %>
 
<link href="/css/projectpage.css" rel="stylesheet">
<body>
    <%- include('../includes/navbarandslidebar.ejs') %>
    <div class="body-project" id="body-project">
      <div class="nav-project">
        <div class="nav-project1">
          <a class="nameduan" href="">Tên project</a>
        <button type="button" class="btn btn-light"><i style='font-size:16px' class='far'>&#xf005;</i></button>
        <button type="button" class="btn btn-light">Cá nhân</button>
      </div>
      
       <div class="nav-project2">
        <button type="button" class="btn btn-light">Riêng tư</button>
        <button type="button" class="btn btn-light">Lịch</button>
      </div >
      <div class="nav-project3">
        <button type="button" class="btn btn-light">Mời thành viên</button>
      </div>
      </div>
      
      
      
      <div class="body-table">
        <div class="todo-list-table">
      <h1>TO DO LIST</h1>
      <div class="progress" style="width: 94%;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
      </div><br>
      
      
      <div class="new" >
        <h4>New</h4>
      <form>
        <input type="text" class="todo-input">
        <button class="todo-button-new" type="submit">
          <i class="fas fa-plus-square" ></i>
          </button>
      </form>
      <div class="todo-container"><div class="dropdown-divider"></div>
      <ul class="todo-list">
        
      <!--   //ai minh di chuyen: todo -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align: center;">Add user</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
             
            </div>
            <div class="modal-body">
              <input class="form-control" type="text" placeholder="Email user"  />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" >Add +</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              
            </div>
          </div>
      
        </div>
      </div>
   
   </div>
   </div>
   
   <div  class="Inprocess" ondrop="drop(event)" ondragover="allowDrop(event)" ><h4>In-process</h4><div class="dropdown-divider"></div><br><br><br></div>
   <div  class="CheckandHandle" ondrop="drop(event)" ondragover="allowDrop(event)" ><h4>Check and Handle</h4><div class="dropdown-divider"></div><br><br><br></div>
      </ul>
       <!-- Button đăng nhập để mở form đăng nhập -->
      <!--  <button id="myBtn">Đăng Nhập</button> -->
     
       <!-- The Modal -->

      </div> 
      <div class="Finish" >
        <h4>Finsh</h4>
      <!--   <form>
          <input type="text" class="todo-input3">
          <button class="todo-button-finish" type="submit">
            <i class="fas fa-plus-square"></i>
            </button>
        </form> -->
        <div class="todo-container3"><div class="dropdown-divider"></div><br><br>
        <div class="todo-list3"   >
          <div ondrop="drop(event)" ondragover="allowDrop(event)"><br></div>
        </div>
        </div>
      </div>
      
      </div>
      </div>
    
 

     
       
  
      
      
      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("container").style.marginLeft = "270px"
          document.getElementById("body-project").style.marginLeft = "270px"
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("container").style.marginLeft = "200px";
          document.getElementById("body-project").style.marginLeft ="50px";
        }
        </script>

<%- include('../includes/scriptprojectpage.ejs') %>
<%- include('../includes/scriptcheckpsw.ejs') %>
<%- include('../includes/footer.ejs') %>